@model IEnumerable<E_PRESCRIBING_SYSTEM.Models.ContraIndication>


@{
    ViewData["Title"] = "Contra Indications List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Contra Indications</h2>
<p>
    <a asp-action="Create" asp-controller="ContraIndication" class="btn btn-primary">Back To Contra-Indication Form</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Active Ingredient Name</th>
            <th>Condition</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ActiveIngredients.ActiveIngredientsName</td>
                <td>@item.Condition.Diagnosis</td>
            </tr>
        }
    </tbody>
</table>
