@{
    ViewData["Title"] = "Dispense Warning";
    Layout = "~/Views/Shared/_PharmacistLayout.cshtml";
}


<div class="modal show d-block" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="ConfirmDispense" method="post">
                <div class="modal-header bg-warning text-dark">
                    <h5 class="modal-title">Caution Before Dispensing</h5>
                </div>
                <div class="modal-body">
                    <p>@ViewBag.WarningMessage</p>
                    <p>Do you want to continue dispensing? or back to the prescription to delete.</p>
                </div>
                <input type="hidden" name="serializedModel" value="@ViewBag.SerializedPrescription" />
                <div class="modal-footer">
                    <button type="submit" name="confirm" value="true" class="btn btn-danger">Yes, Proceed</button>
                    <a href="@Url.Action("PrescriptionList", "Surgeon")" class="btn btn-secondary">Cancel</a>
                   

                </div>
            </form>
        </div>
    </div>
</div>



